body{background-color: darkgray;
}
#paragraph{background-color: gr\
    ;}
#paragraph{text-align: center
    ;}
#paragraph{font-family: fantasy;}
header{border-style: solid
    ;}
header{border-color: black
    ;}
header{background-color: dimgray
    ;}
header{text-align: center;}
header{font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
    ;}
#firstimg{width: 900px
    ;}
#secondimg{width: 900px
    ;}
#secondimg{padding: 50px;}
#firstimg{padding: 50px
    ;}
header{align-content: center;}
#secondp{text-align: center
    ;}
    #secondp{font-family: fantasy
        ;}
footer{border-style: solid;}
footer{text-align: center;}
header{text-align: center;}